#### __*A vari√°vel Object_of_Study √© uma vari√°vel reservada nessa biblioteca e nao pode ser substitu√≠da por nada para a biblioteca funcionar. Ela √© ser escolhida ao rodar o programa pela primeira vez, para muda-la reinicie o kernel e/ou o python console dependendo do typo de arquivo.*__

### Pra que serve a vari√°vel global object_of_study? :
### Ela serve para definir o objeto alvo do estudo e evitar sua remo√ß√£o da base de dados durante os v√°rios tipo diferente de filtragens diferentes.

### O arquivo Classes_Funcoes n√£o apresenta nenhuma falha que interfira com outras bibliotecas/arquivos, no entanto, vale notar que:
- #### Existem arquivos importados com a estrutura "from _____ import *"
- #### No arquivo Classes_Funcoes a vari√°vel Object_of_Study √© uma vari√°vel global e portanto ela n deve ser usada.
- #### O arquivo Classes_Funcoes foi importado como um arquivo ".ipynb". Para que esse import funcione corretamente foi necess√°ria essa estrutura abaixo, ela basicamente adiciona uma classe que importa notebooks como modules e os trata como ".py"

In [90]:
import io, os, sys, types
from IPython import get_ipython
from nbformat import read
from IPython.core.interactiveshell import InteractiveShell

def find_notebook(fullname, path=None):
    """find a notebook, given its fully qualified name and an optional path

    This turns "foo.bar" into "foo/bar.ipynb"
    and tries turning "Foo_Bar" into "Foo Bar" if Foo_Bar
    does not exist.
    """
    name = fullname.rsplit('.', 1)[-1]
    if not path:
        path = ['']
    for d in path:
        nb_path = os.path.join(d, name + ".ipynb")
        if os.path.isfile(nb_path):
            return nb_path
        # let import Notebook_Name find "Notebook Name.ipynb"
        nb_path = nb_path.replace("_", " ")
        if os.path.isfile(nb_path):
            return nb_path

class NotebookLoader(object):
    """Module Loader for Jupyter Notebooks"""
    def __init__(self, path=None):
        self.shell = InteractiveShell.instance()
        self.path = path

    def load_module(self, fullname):
        """import a notebook as a module"""
        path = find_notebook(fullname, self.path)

        print ("importing Jupyter notebook from %s" % path)

        # load the notebook object
        with io.open(path, 'r', encoding='utf-8') as f:
            nb = read(f, 4)


        # create the module and add it to sys.modules if name in sys.modules:
        #    return sys.modules[name]
        mod = types.ModuleType(fullname)
        mod.__file__ = path
        mod.__loader__ = self
        mod.__dict__['get_ipython'] = get_ipython
        sys.modules[fullname] = mod

        # extra work to ensure that magics that would affect the user_ns
        # actually affect the notebook module's ns
        save_user_ns = self.shell.user_ns
        self.shell.user_ns = mod.__dict__

        try:
          for cell in nb.cells:
            if cell.cell_type == 'code':
                # transform the input to executable Python
                code = self.shell.input_transformer_manager.transform_cell(cell.source)
                # run the code in themodule
                exec(code, mod.__dict__)
        finally:
            self.shell.user_ns = save_user_ns
        return mod


class NotebookFinder(object):
    """Module finder that locates Jupyter Notebooks"""
    def __init__(self):
        self.loaders = {}

    def find_module(self, fullname, path=None):
        nb_path = find_notebook(fullname, path)
        if not nb_path:
            return

        key = path
        if path:
            # lists aren't hashable
            key = os.path.sep.join(path)

        if key not in self.loaders:
            self.loaders[key] = NotebookLoader(path)
        return self.loaders[key]


sys.meta_path.append(NotebookFinder())
from Classes_Funcoes import *
import string
import emoji
import pandas as pd
print(sys.meta_path)

importing Jupyter notebook from Classes_Funcoes.ipynb
Here is a list of length 2 with all words that wont be removed ['fantastico', 'fant√°stico']
[<_virtualenv._Finder object at 0x0000018CBFB31820>, <class '_frozen_importlib.BuiltinImporter'>, <class '_frozen_importlib.FrozenImporter'>, <class '_frozen_importlib_external.PathFinder'>, <six._SixMetaPathImporter object at 0x0000018CC23A8970>, <pkg_resources.extern.VendorImporter object at 0x0000018CC3C06CD0>, <__main__.NotebookFinder object at 0x0000018CC426C8E0>, <__main__.NotebookFinder object at 0x0000018CD5080B80>, <__main__.NotebookFinder object at 0x0000018CD52FD490>, <__main__.NotebookFinder object at 0x0000018CD52FDB80>]

In [91]:
pd.options.display.max_columns=50
dados_treino = pd.read_excel(f'{Object_of_Study}.xlsx')
dados_treino_1=dados_treino

dados_treino_rell = dados_treino.loc[dados_treino['Unnamed: 1'] == 1]
dados_treino_rel = dados_treino_rell.reset_index()

dados_treino_nrel = dados_treino.loc[dados_treino['Unnamed: 1'] == 0]
dados_treino_irel = dados_treino_nrel.reset_index()

In [92]:
%%HTML
<style>.dataframe td:{
    color: #F8F8F2;
    border:3px solid white;
    background-color; #2b2b2b;
    text-align: left;
}
.dataframe td:hover{
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    color: black;
    background-color: #ffffb3;
    text-align: left;
}
.dataframe th:index_name{
    font-style: italic;
    font-weight:normal;
    text-align: left;
}
.dataframe th:not(.index_name){
    background-color: #000066;
    text-align: left;
    color: white;
}
<style>

In [93]:
dados_treino_juntos = unite_dataframes_col(dados_treino_rel, dados_treino_irel, 'Tweets relevantes', 'Tweets irrelevantes')
dados_treino_juntos.drop([('Tweets relevantes', 'index'), ('Tweets irrelevantes', 'index')], axis=1)
dados_treino_juntos

    Tweets relevantes                                                     \
                index                                        Treinamento
0                 1.0  #fantastico\n\nreportagem sobre os haters\nmat...
1                 2.0                    @karendc99 me parece fant√°stico
2                 3.0  o quarteto fant√°stico t√° diferente üó£, amo!\n#a...
3                 4.0  foda que os haters ouvidos pelo fant√°stico apa...
4                 5.0               o geco no fant√°stico eu vou infartar
..                ...                                                ...
155               NaN                                                NaN
156               NaN                                                NaN
157               NaN                                                NaN
158               NaN                                                NaN
159               NaN                                                NaN

               Tweets irrelevantes  \
    Unnamed: 1               index
0          1.0                   0
1          1.0                   9
2          1.0                  10
3          1.0                  11
4          1.0                  12
..         ...                 ...
155        NaN                 295
156        NaN                 296
157        NaN                 297
158        NaN                 298
159        NaN                 299


                                           Treinamento Unnamed: 1
0    @cbrzit amg, ele apareceu no fant√°stico????? o...          0
1    @benicamilaa amiga q sdds suas. como esta? uma...          0
2    caramba... √© angustiante.\nhttps://t.co/noopnc...          0
3    essa hist√≥ria do menino que se * √© muito mal c...          0
4    ent√£o realmente foi ao ar a mat√©ria sobre os h...          0
..                                                 ...        ...
155            @anajuxl foi no fant√°stico de hoje vida          0
156  eu acho que eles lan√ßaram o clipe agora porque...          0
157  @sweetenersdw amigo quando sai sua entrevista ...          0
158  @daianenem https://t.co/qmupncchru #notiktokte...          0
159     o hater do fant√°stico? https://t.co/nckw3xkjqh          0

[160 rows x 6 columns]

## tweets relevantes
### separando e contando as palvras e os emojis

In [94]:
rel = ListWord(column_name='Treinamento').c_o_f(dados_treino_rel)
rel.sort_values(by='# de ocorr√™ncias', ascending=False)

            # de ocorr√™ncias
a                        101
que                       93
o                         89
fant√°stico                81
de                        76
...                      ...
dormir.                    1
instante                   1
abalar,                    1
filho                      1
tenebrosa                  1

[1368 rows x 1 columns]

### Limpando o DataFrame

In [95]:
rel_limp = RemoveWords(rel, '# de ocorr√™ncias', show_removed=False)
rel_limp1 = RemoveWords(rel, '# de ocorr√™ncias', show_removed=False)
rel_limp2 = RemoveWords(rel, '# de ocorr√™ncias', show_removed=False)
rel_limp3 = RemoveWords(rel, '# de ocorr√™ncias', show_removed=False)
rel_limp4 = RemoveWords(rel, '# de ocorr√™ncias', show_removed=False)
rel_limp5 = RemoveWords(rel, '# de ocorr√™ncias', show_removed=False)
rel_limp6 = RemoveWords(rel, '# de ocorr√™ncias', show_removed=False)

#### palavras removidas

In [96]:
print('\n sem palavras com @')
qremove_at_rel = rel_limp1.remove_at()
print('\n sem palavras com link')
qremove_link_rel =rel_limp.remove_link()
print('\n sem pontua√ß√£o nas palavras')
qremove_ponc_rel = rel_limp2.remove_ponc()
print('\n sem palavras com menos de 3 letras')
qremove_word_sts_rel = rel_limp3.remove_word_sts(3)
print('\n sem palavras com mais de 3 ks juntos')
qremove_laugh_rel = rel_limp4.remove_laugh(2, 5)
print('\n sem palavras com sequencia de numero da ordem das unidades maior que 3 juntos')
qremove_num_str_rel = rel_limp5.remove_num_str(3)
print('\n todos os filtros juntos')
qremove_options_rel = rel_limp6.remove_options(remove_at={True: '()'}, remove_link={True: '()'},
                                    remove_ponc={True: '()'},remove_laugh={True: '(2, 5)'},
                                    remove_word_sts={True: '(3)'}, remove_num_str={True: '(3)'})

 sem palavras com @

 sem palavras com link

 sem pontua√ß√£o nas palavras

 sem palavras com menos de 3 letras

 sem palavras com mais de 3 ks juntos

 sem palavras com sequencia de numero da ordem das unidades maior que 3 juntos

 todos os filtros juntos

In [97]:
palavra = 'abalar'
if palavra in qremove_options_rel.reset_index()['index'] and len(palavra) != len(palavra):
    print(f'''KEJFHIDBGLKIEARUGB _L_E
{palavra}
{len(palavra)}D''')

## tweets relevantes
### separando e contando as palvras e os emojis

In [98]:
irel = ListWord(column_name='Treinamento').c_o_f(dados_treino_irel)
irel.sort_values(by='# de ocorr√™ncias', ascending=False)
irel.sort_values(by='# de ocorr√™ncias', ascending=False)

                         # de ocorr√™ncias
fant√°stico                             98
no                                     79
o                                      75
que                                    74
a                                      67
...                                   ...
xotinha                                 1
https://t.co/ujlorusq5l                 1
https://t.co/eghuyvzzdu                 1
sapatos                                 1
ativa                                   1

[1240 rows x 1 columns]

### Limpando o DataFrame

In [99]:
irel_limp = RemoveWords(irel, '# de ocorr√™ncias', show_removed=False)
irel_limp1 = RemoveWords(irel, '# de ocorr√™ncias', show_removed=False)
irel_limp2 = RemoveWords(irel, '# de ocorr√™ncias', show_removed=False)
irel_limp3 = RemoveWords(irel, '# de ocorr√™ncias', show_removed=False)
irel_limp4 = RemoveWords(irel, '# de ocorr√™ncias', show_removed=False)
irel_limp5 = RemoveWords(irel, '# de ocorr√™ncias', show_removed=False)
irel_limp6 = RemoveWords(irel, '# de ocorr√™ncias', show_removed=False)

#### palavras removidas

In [100]:
print('\n sem palavras com @')
qremove_at_irel = irel_limp1.remove_at()
print('\n sem palavras com link')
qremove_link_irel =irel_limp.remove_link()
print('\n sem pontua√ß√£o nas palavras')
qremove_ponc_irel = irel_limp2.remove_ponc()
print('\n sem palavras com menos de 3 letras')
qremove_word_sts_irel = irel_limp3.remove_word_sts(3)
print('\n sem palavras com mais de 3 ks juntos')
qremove_laugh_irel = irel_limp4.remove_laugh(2, 5)
print('\n sem palavras com sequencia de numero da ordem das unidades maior que 3 juntos')
qremove_num_str_irel = irel_limp5.remove_num_str(3)
print('\n todos os filtros juntos')
qremove_options_irel = irel_limp6.remove_options(remove_at={True: '()'}, remove_link={True: '()'},
                                    remove_ponc={True: '()'},remove_laugh={True: '(2, 5)'},
                                    remove_word_sts={True: '(3)'}, remove_num_str={True: '(3)'})

palavra = 'abalar'
if palavra in qremove_options_rel.reset_index()['index'] and len(palavra) != len(palavra):
    print(f'''KEJFHIDBGLKIEARUGB _L_E
{palavra}
{len(palavra)}D''')

 sem palavras com @

 sem palavras com link

 sem pontua√ß√£o nas palavras

 sem palavras com menos de 3 letras

 sem palavras com mais de 3 ks juntos

 sem palavras com sequencia de numero da ordem das unidades maior que 3 juntos

 todos os filtros juntos

#### Antes de filtrar, todos os emojis e as palavras inseridas no come√ßo s√£o exclu√≠dos da filtragem e colocados de volta na vase de dados.

#### dataframes com a frequencia de palavras relevantes e irrelevantes ao lado um do outro

In [101]:
qremove_link_rel.sort_values(by='# de ocorr√™ncias', ascending=False)
unite_dataframes_col(qremove_link_rel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        qremove_link_irel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        'Palavras em tweets relevantes', 'Palavras em tweets irrelevantes')

              Palavras em tweets relevantes Palavras em tweets irrelevantes
                           # de ocorr√™ncias                # de ocorr√™ncias
a                                     101.0                            67.0
que                                    93.0                            74.0
o                                      89.0                            75.0
fant√°stico                             81.0                            98.0
de                                     76.0                            66.0
...                                     ...                             ...
gra√ßa.                                  NaN                             1.0
absolutamente                           NaN                             1.0
abra√ßar                                 NaN                             1.0
hateando                                NaN                             1.0
modelos                                 NaN                             1.0

[2160 rows x 2 columns]

In [102]:
qremove_ponc_rel.sort_values(by='# de ocorr√™ncias', ascending=False)
unite_dataframes_col(qremove_ponc_rel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        qremove_ponc_irel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        'Palavras em tweets relevantes', 'Palavras em tweets irrelevantes')

              Palavras em tweets relevantes Palavras em tweets irrelevantes
                           # de ocorr√™ncias                # de ocorr√™ncias
fant√°stico                            105.0                           129.0
a                                     101.0                            67.0
que                                    94.0                            76.0
o                                      90.0                            75.0
de                                     76.0                            66.0
...                                     ...                             ...
colocam                                 NaN                             1.0
lesou                                   NaN                             1.0
linda                                   NaN                             1.0
lindo                                   NaN                             1.0
jully02184332                           NaN                             1.0

[2049 rows x 2 columns]

In [103]:
qremove_word_sts_rel.sort_values(by='# de ocorr√™ncias', ascending=False)
unite_dataframes_col(qremove_word_sts_rel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        qremove_word_sts_irel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        'Palavras em tweets relevantes', 'Palavras em tweets irrelevantes')

           Palavras em tweets relevantes Palavras em tweets irrelevantes
                        # de ocorr√™ncias                # de ocorr√™ncias
que                                 93.0                            74.0
fant√°stico                          81.0                            98.0
sobre                               46.0                            13.0
mat√©ria                             42.0                            20.0
n√£o                                 30.0                            25.0
...                                  ...                             ...
donas                                NaN                             1.0
dopado                               NaN                             1.0
dormi.                               NaN                             1.0
dormindo                             NaN                             1.0
hater,                               NaN                             1.0

[2112 rows x 2 columns]

In [104]:
qremove_laugh_rel.sort_values(by='# de ocorr√™ncias', ascending=False)
unite_dataframes_col(qremove_laugh_rel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        qremove_laugh_irel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        'Palavras em tweets relevantes', 'Palavras em tweets irrelevantes')

             Palavras em tweets relevantes Palavras em tweets irrelevantes
                          # de ocorr√™ncias                # de ocorr√™ncias
a                                    101.0                            67.0
que                                   93.0                            74.0
o                                     89.0                            75.0
fant√°stico                            81.0                            98.0
de                                    76.0                            66.0
...                                    ...                             ...
hip√≥critas,                            NaN                             1.0
hist√≥ria                               NaN                             1.0
@zeliaduncan                           NaN                             1.0
hj.                                    NaN                             1.0
haters.                                NaN                             1.0

[2223 rows x 2 columns]

In [105]:
qremove_num_str_rel.sort_values(by='# de ocorr√™ncias', ascending=False)
unite_dataframes_col(qremove_num_str_rel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        qremove_num_str_irel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        'Palavras em tweets relevantes', 'Palavras em tweets irrelevantes')

            Palavras em tweets relevantes Palavras em tweets irrelevantes
                         # de ocorr√™ncias                # de ocorr√™ncias
a                                   101.0                            67.0
que                                  93.0                            74.0
o                                    89.0                            75.0
fant√°stico                           81.0                            98.0
de                                   76.0                            66.0
...                                   ...                             ...
aassustador                           NaN                             1.0
hj.                                   NaN                             1.0
aaaaaa                                NaN                             1.0
hoje)                                 NaN                             1.0
mentiras                              NaN                             1.0

[2232 rows x 2 columns]

In [106]:
qremove_options_rel.sort_values(by='# de ocorr√™ncias', ascending=False)
qremove_options_unidos = unite_dataframes_col(qremove_options_rel.sort_values(by='# de ocorr√™ncias', ascending=False),
                                              qremove_options_irel.sort_values(by='# de ocorr√™ncias', ascending=False),'Palavras em tweets relevantes', 'Palavras em tweets irrelevantes', replace_nan=0)
qremove_options_unidos[('todos os tweets', '# de ocorr√™ncias')] = qremove_options_unidos[('Palavras em tweets relevantes', '# de ocorr√™ncias')] + qremove_options_unidos[('Palavras em tweets irrelevantes', '# de ocorr√™ncias')]

qremove_options_unidos

,Palavras em tweets relevantes,Palavras em tweets irrelevantes,todos os tweets
,# de ocorr√™ncias,# de ocorr√™ncias,# de ocorr√™ncias
fant√°stico,105.0,129.0,234.0
que,94.0,76.0,170.0
sobre,46.0,13.0,59.0
mat√©ria,43.0,22.0,65.0
fantastico,36.0,22.0,58.0
...,...,...,...
medonhas,0.0,1.0,1.0
comedycentral,0.0,1.0,1.0
melinda,0.0,1.0,1.0
colocou,0.0,1.0,1.0
manca,0.0,1.0,1.0

# Naive-Bayes

### Palavras dado que:

#### relevante P(palavra/relevante)

In [107]:
Total_palavras_rel = qremove_options_rel['# de ocorr√™ncias'].sum()
print(Total_palavras_rel, 'Total_palavras_rel')
Total_palavras_unicas_rel = qremove_options_rel.reset_index()['index'].value_counts().sum()
print(Total_palavras_unicas_rel, 'Total_palavras_unicas_rel')

qremove_options_rel['prob palavras'] = (qremove_options_rel['# de ocorr√™ncias'] + 1)/(Total_palavras_rel + Total_palavras_unicas_rel)

qremove_options_rel['prob palavras']

2337 Total_palavras_rel
1095 Total_palavras_unicas_rel

11desetembro    0.000874
500             0.000583
abalado         0.000583
abalar          0.000583
abertamente     0.000583
                  ...
ü§¢               0.001457
ü§£               0.002040
ü§¶               0.000583
ü§¶üèº‚Äç‚ôÄÔ∏è           0.000583
üßê               0.000874
Name: prob palavras, Length: 1095, dtype: float64

##### irrelevante P(palavra/irrelevante)

In [108]:
Total_palavras_unicas_irel = qremove_options_irel.reset_index()['index'].value_counts().sum()
print(Total_palavras_unicas_irel, 'Total_palavras_unicas_irel')

Total_palavras_irel = qremove_options_irel['# de ocorr√™ncias'].sum()
print(Total_palavras_irel, 'Total_palavras_irel')

qremove_options_irel['prob palavras'] = (qremove_options_irel['# de ocorr√™ncias'] + 1)/(Total_palavras_irel + Total_palavras_unicas_irel)

qremove_options_irel['prob palavras']

925 Total_palavras_unicas_irel
2373 Total_palavras_irel

8diasprosuperspace    0.000910
90s                   0.000606
aaaaaa                0.000606
aassustador           0.000606
abra√ßar               0.000606
                        ...
ü§î                     0.000910
ü§°                     0.002729
ü§∑                     0.000606
ü§∑üèª‚Äç‚ôÄÔ∏è                 0.000606
ü•∫                     0.000910
Name: prob palavras, Length: 925, dtype: float64

In [109]:
qremove_options_unidos_comprob = unite_dataframes_col(qremove_options_rel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        qremove_options_irel.sort_values(by='# de ocorr√™ncias', ascending=False),
                        'Palavras em tweets relevantes', 'Palavras em tweets irrelevantes', replace_nan=0)
qremove_options_unidos_comprob[('todos os tweets', '# de ocorr√™ncias')] = qremove_options_unidos_comprob\
[('Palavras em tweets relevantes', '# de ocorr√™ncias')] + qremove_options_unidos_comprob\
[('Palavras em tweets irrelevantes', '# de ocorr√™ncias')]
qremove_options_unidos_comprob[('todos os tweets', 'prob palavras')] = qremove_options_unidos_comprob\
[('Palavras em tweets relevantes', 'prob palavras')] + qremove_options_unidos_comprob\
[('Palavras em tweets irrelevantes', 'prob palavras')]
qremove_options_unidos_comprob.sort_values(by=('todos os tweets', '# de ocorr√™ncias'), ascending=False)

           Palavras em tweets relevantes                \
                        # de ocorr√™ncias prob palavras
fant√°stico                         105.0      0.030886
que                                 94.0      0.027681
mat√©ria                             43.0      0.012821
sobre                               46.0      0.013695
fantastico                          36.0      0.010781
...                                  ...           ...
dissemina                            1.0      0.000583
disseram                             1.0      0.000583
editoria                             1.0      0.000583
durma                                1.0      0.000583
manca                                0.0      0.000000

           Palavras em tweets irrelevantes                todos os tweets  \
                          # de ocorr√™ncias prob palavras # de ocorr√™ncias
fant√°stico                           129.0      0.039418            234.0
que                                   76.0      0.023347            170.0
mat√©ria                               22.0      0.006974             65.0
sobre                                 13.0      0.004245             59.0
fantastico                            22.0      0.006974             58.0
...                                    ...           ...              ...
dissemina                              0.0      0.000000              1.0
disseram                               0.0      0.000000              1.0
editoria                               0.0      0.000000              1.0
durma                                  0.0      0.000000              1.0
manca                                  1.0      0.000606              1.0


           prob palavras
fant√°stico      0.070304
que             0.051028
mat√©ria         0.019794
sobre           0.017940
fantastico      0.017755
...                  ...
dissemina       0.000583
disseram        0.000583
editoria        0.000583
durma           0.000583
manca           0.000606

[1706 rows x 6 columns]

#### Todas as palavras P(relevante) e P(irrelevante)

In [110]:
Total_palavras = Total_palavras_irel + Total_palavras_rel
print(Total_palavras_irel+Total_palavras_rel, 'Total_palavras')

Total_palavras_unicas = Total_palavras_unicas_irel + Total_palavras_unicas_rel
print(Total_palavras_unicas, 'Total_palavras_unicas')

prob_rel_qremove_options = (Total_palavras_rel + Total_palavras_unicas_rel)/( Total_palavras + Total_palavras_unicas)# * 0)#Total_palavras_unicas)
print(prob_rel_qremove_options, 'prob_rel')

prob_irel_qremove_options = (Total_palavras_irel + Total_palavras_unicas_irel)/( Total_palavras + Total_palavras_unicas)# * 0)#Total_palavras_unicas)
print(prob_irel_qremove_options, 'prob_irel')

4710 Total_palavras
2020 Total_palavras_unicas
0.5099554234769688 prob_rel
0.4900445765230312 prob_irel

In [111]:
qremove_options_rel['prob palavras'].sort_values(ascending=False).sum()

1.0

In [112]:
qremove_options_irel['prob palavras'].sort_values(ascending=False).sum()

0.9999999999999999

In [113]:
unite_dataframes_col(qremove_options_rel, qremove_options_irel, 'qremove_options_rel', 'qremove_options_irel', replace_nan=0)

             qremove_options_rel               qremove_options_irel  \
                # de ocorr√™ncias prob palavras     # de ocorr√™ncias
11desetembro                 2.0      0.000874                  0.0
500                          1.0      0.000583                  0.0
abalado                      1.0      0.000583                  0.0
abalar                       1.0      0.000583                  0.0
abertamente                  1.0      0.000583                  0.0
...                          ...           ...                  ...
üôÑ                            0.0      0.000000                  2.0
ü§î                            0.0      0.000000                  2.0
ü§∑                            0.0      0.000000                  1.0
ü§∑üèª‚Äç‚ôÄÔ∏è                        0.0      0.000000                  1.0
ü•∫                            0.0      0.000000                  2.0


             prob palavras
11desetembro      0.000000
500               0.000000
abalado           0.000000
abalar            0.000000
abertamente       0.000000
...                    ...
üôÑ                 0.000910
ü§î                 0.000910
ü§∑                 0.000606
ü§∑üèª‚Äç‚ôÄÔ∏è             0.000606
ü•∫                 0.000910

[1706 rows x 4 columns]

In [114]:
lista = []
frase = 'muito bom o programa '
prod = 1
# for  palavra in frase:
#     a = qremove_options_rel
qremove_options_rel.sort_values(by='prob palavras', ascending=False)
for palavra in qremove_options_rel.reset_index()['index']:
    if 'muito' in palavra:
        print(len(palavra))
        print(palavra)
# '''
# frase = muito bom o programa
# P(relevante/frase) = (P(muito/relevante) * P(bom/relevante) ... * P(relevante))
# '''
#
# '''
# EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO
# EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO
# EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO
# EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO - EM DESENVOLVIMENTO
# '''

5
muito
6
muitos

In [115]:
print(f"""NUMERO DE VEZES QUER APARECE A PALAVRA DEFINIDA NO INPUT DO COME√áO POR DATAFRAME CRIADO

{sum(qremove_link_rel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_link_rel
{sum(qremove_link_irel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_link_irel
{sum(qremove_at_rel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_at_rel
{sum(qremove_at_irel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_at_irel
{sum(qremove_ponc_rel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_ponc_rel
{sum(qremove_ponc_irel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_ponc_irel
{sum(qremove_word_sts_rel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_word_sts_rel
{sum(qremove_word_sts_irel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_word_sts_irel
{sum(qremove_laugh_rel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_laugh_rel
{sum(qremove_laugh_irel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_laugh_irel
{sum(qremove_num_str_rel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_num_str_rel
{sum(qremove_num_str_irel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_num_str_irel
{sum(qremove_options_rel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_options_rel
{sum(qremove_options_irel['# de ocorr√™ncias'][[j for j in RemoveWords.list_desired_words]])} qremove_options_irel""")

NUMERO DE VEZES QUER APARECE A PALAVRA DEFINIDA NO INPUT DO COME√áO POR DATAFRAME CRIADO

89 qremove_link_rel
108 qremove_link_irel
89 qremove_at_rel
108 qremove_at_irel
141 qremove_ponc_rel
151 qremove_ponc_irel
89 qremove_word_sts_rel
108 qremove_word_sts_irel
89 qremove_laugh_rel
108 qremove_laugh_irel
89 qremove_num_str_rel
108 qremove_num_str_irel
141 qremove_options_rel
151 qremove_options_irel

In [116]:
a = qremove_options_unidos_comprob['Palavras em tweets relevantes', '# de ocorr√™ncias'].sum()
b = qremove_options_unidos_comprob['Palavras em tweets relevantes', 'prob palavras'].sum()
c = qremove_options_unidos_comprob['Palavras em tweets irrelevantes', '# de ocorr√™ncias'].sum()
d = qremove_options_unidos_comprob['Palavras em tweets irrelevantes', 'prob palavras'].sum()
e = qremove_options_unidos_comprob['todos os tweets', '# de ocorr√™ncias'].sum()
f = qremove_options_unidos_comprob['todos os tweets', 'prob palavras'].sum()
# data.insert(-len(qremove_options_unidos_comprob), {'name': 'dean', 'age': 'df', 'sex': 'male'})
#
# qremove_options_unidos_comprob
data = {'"soma da coluna"': [a, b, c, d, e, f]}
data = pd.DataFrame.from_dict(data, orient='index',
                              columns=pd.MultiIndex.from_product([
                      ['Palavras em tweets relevantes', 'Palavras em tweets irrelevantes', 'todos os tweets'],
                      ['# de ocorr√™ncias', 'prob palavras']]))
aaaaaaa = qremove_options_unidos_comprob
aaaaaaa = pd.concat([data, aaaaaaa], ignore_index=False)
aaaaaaa

                 Palavras em tweets relevantes                \
                              # de ocorr√™ncias prob palavras
"soma da coluna"                        2337.0      1.000000
fant√°stico                               105.0      0.030886
que                                       94.0      0.027681
sobre                                     46.0      0.013695
mat√©ria                                   43.0      0.012821
...                                        ...           ...
medonhas                                   0.0      0.000000
comedycentral                              0.0      0.000000
melinda                                    0.0      0.000000
colocou                                    0.0      0.000000
manca                                      0.0      0.000000

                 Palavras em tweets irrelevantes                \
                                # de ocorr√™ncias prob palavras
"soma da coluna"                          2373.0      1.000000
fant√°stico                                 129.0      0.039418
que                                         76.0      0.023347
sobre                                       13.0      0.004245
mat√©ria                                     22.0      0.006974
...                                          ...           ...
medonhas                                     1.0      0.000606
comedycentral                                1.0      0.000606
melinda                                      1.0      0.000606
colocou                                      1.0      0.000606
manca                                        1.0      0.000606

                  todos os tweets
                 # de ocorr√™ncias prob palavras
"soma da coluna"           4710.0      2.000000
fant√°stico                  234.0      0.070304
que                         170.0      0.051028
sobre                        59.0      0.017940
mat√©ria                      65.0      0.019794
...                           ...           ...
medonhas                      1.0      0.000606
comedycentral                 1.0      0.000606
melinda                       1.0      0.000606
colocou                       1.0      0.000606
manca                         1.0      0.000606

[1707 rows x 6 columns]